h1 {
    color: orange;
    text-align: center;
}
p{
    color: green;
}

header p {
    color:fuchsia;
}
.highlight{
    background-color: yellow;
}
footer .highlight{
    background-color: coral;
}

.box-a {
background-color: brown;
padding:20px;
border: 5px solid;
margin-bottom: 10px;
width: 250px;
height: 150px;
box-sizing: border-box;
}

.box-b {
    background-color: rgb(22, 204, 204);
    width: 250px;
    height: 150px;
    }