/*Tables Styles*/
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
table th {
    text-align: left;
    background-color: #869960;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4)
}
table th,
table td {
    border: 1px solid #869960;
    padding: 10px;
}
table tbody tr:nth-child(odd) td{
    background-color: beige;
}
table tr :nth-child(2),
table tr :nth-child(3) {
    text-align: center;
}
.item-name .itme-price {
    width: 60%
}
.item-qty{
    width:20%
}

